 body {
	    margin: 0;
	    font-family: 'Roboto', sans-serif;
	  }

 .intro {
    	height: 85vh;
    	background: url(../img/pexels-photo.jpg) no-repeat center top fixed;
    	background-size: cover;
    	margin-bottom: 20px;
    }

.intro a {
	text-decoration: none;
	color: #FFF;
	font-size: 3em;
	position: absolute;
	left: 50%;
	bottom: 20px;
	-webkit-animation: movedown 1s ease-in-out infinite;
	animation: movedown 1s ease-in-out infinite;
}

@-webkit-keyframes movedown {
    0% {
    	transform: translate(0, -25px);
    } 
    100% {
    	transform: translate(0, 25px);
    }
}

@keyframes movedown {
    0% {
    	transform: translate(0, -25px);
    } 
    100% {
    	transform: translate(0, 25px);
    }
}


     .header {
    	position: relative;
    	top: 0px;
    	height: 15vh;
    	width: 100%;
    	margin-top: -25px;
    	background: #333657;
    }

     .header .title {
     	padding: 20px;
     	color: #FFF;
     	font-size: 2.2em;
     	background: url(../img/google-hangouts-logo.png) no-repeat 300px 35px;
     	background-size: 25px;
     }

      .header .title::before {
      	content: "<";
      	font-size: 40px;
      	color: #FFF;
      	position: relative;
      	left: 260px;
      }

      .header .title::after {
      	content: "/>";
      	font-size: 40px;
      	color: #FFF;
      	position: relative;
      	right: -60px;
      }

     .header a {
     	text-decoration: none;
     }

     .galerie-hangout {
     	width: auto;
     	max-width: 1000px;
     	margin-right: auto;
     	margin-left: auto;
     }

	   .hangout {
	   		width: 220px;
	   		border-radius: 5px;
	   		display: inline-block;
	   		margin: 10px;
	   		border: 1px solid #f0f0f0;
	   		vertical-align: top;
	   		min-height: 250px;
	   }

	 
	   
	   .hangout img {
	   		width: 100%;
	   		height: 120px;
	   		transition: 0.8s;
	   		border-radius: 5px 5px 0px 0px;
	   }

	   .hangout img:hover {
	   		opacity: 0.5;
	   }

	   .hangout a {
	   		text-decoration: none;
	   }
	   
	   .hangout-name,
	   .hangout-theme {
	   		 display: block;
	   		 padding: 5px;

	   }

	   .hangout-name {
	   		color: #b2b2b2;
	   		font-size: 1em;
	   }

	   .hangout-theme {
	   		font-size: 1.3em;
	   		color: #4040a1;
	   }

	   .modal {
	   		position: fixed;
	   		top: 0;
	   		left: 0;
	   		background: rgba(0, 0, 0, 0.9);
	   		width: 100%;
	   		height: 100%;
	   		text-align: center;
	   		display: none;
	   }

	   .modal .modal-video {
	   	    margin-top: 50px;
	   		width: 90%;
	   		height: 80%;
	   }

	   .close {
	   	   position: absolute;
           color: #FFF;
           font-size: 2em;
           top: 20px;
           right: 30px;
           cursor: pointer;	   
       }

       .caption {
       		color: #FFF;
       		font-size: 1.5em;
       		font-family: sans-serif;
       }

       .site-footer {
       		background: #333657;
       		position: relative;
       		bottom: -25px;
          padding: 20px;
       }

        .site-footer p {
       	   color: #FFF;
       	   padding: 10px;
       }

        .site-footer p a {
        	text-decoration: none;
        }
        
       .site-footer p:first-child {
       		font-size: 1.5em;
       		text-align: center;
          margin: 0;
       }

       .inspiration {
          text-align: center;
          margin: 0;
       }

        .inspiration__link {
          color: #FFFFFF;
          text-shadow: 0 3px 4px #000;
        }

        .inspiration__link:hover {
          text-shadow: none;
        }


/* MOBILE */

@media (max-width: 980px) {
	.galerie-hangout {
		width: 90%;
	}

	.hangout {
		width: 30%;
	}
}

@media (max-width: 817px) {
	
	.hangout {
		width: 30%;
		margin: 10px 5px;
	}
}

@media (max-width: 493px) {
	.galerie-hangout {
		text-align: center;
	}

	.hangout {
		width: 80%;
		margin-bottom: 10px;
	}

  
}