 body {
	    margin: 0;
	    font-family: 'Roboto', sans-serif;
	  }

 .intro {
    	height: 85vh;
    	background: url(../img/pexels-photo.jpg) no-repeat center top fixed;
    	background-size: cover;
    	margin-bottom: 20px;
    }

.intro a {
	text-decoration: none;
	color: #FFF;
	font-size: 3em;
	position: absolute;
	left: 50%;
	bottom: 20px;
	-webkit-animation: movedown 1s ease-in-out infinite;
	animation: movedown 1s ease-in-out infinite;
}

@-webkit-keyframes movedown {
    0% {
    	transform: translate(0, -25px);
    } 
    100% {
    	transform: translate(0, 25px);
    }
}

@keyframes movedown {
    0% {
    	transform: translate(0, -25px);
    } 
    100% {
    	transform: translate(0, 25px);
    }
}


     .header {
    	position: relative;
    	top: 0px;
    	height: 15vh;
    	width: 100%;
    	margin-top: -25px;
    	background: rgba(51, 54, 87, 1);
    }

     .header .title {
     	padding: 20px;
     	color: #FFF;
     	font-size: 2.2em;
     }

     .header a {
     	text-decoration: none;
     }

	   .lectures {
	   		width: 220px;
	   		border-radius: 5px;
	   		display: inline-block;
	   		margin: 20px 4px 20px 20px;
	   		border: 1px solid #f0f0f0;
	   		vertical-align: top;
	   		min-height: 250px;
	   }

	 
	   
	   .lectures img {
	   		width: 100%;
	   		height: 120px;
	   		transition: 0.8s;
	   		border-radius: 5px 5px 0px 0px;
	   }

	   .lectures img:hover {
	   		opacity: 0.5;
	   }

	   .lectures a {
	   		text-decoration: none;
	   }
	   
	   .lecture-name,
	   .lecture-theme {
	   		 display: block;
	   		 padding: 5px;

	   }

	   .lecture-name {
	   		color: #b2b2b2;
	   		font-size: 1em;
	   }

	   .lecture-theme {
	   		font-size: 1.3em;
	   		color: #4040a1;
	   }

	   .modal {
	   		position: fixed;
	   		top: 0;
	   		left: 0;
	   		background: rgba(0, 0, 0, 0.9);
	   		width: 100%;
	   		height: 100%;
	   		text-align: center;
	   		display: none;
	   }

	   .modal .modal-video {
	   	    margin-top: 50px;
	   		width: 90%;
	   		height: 80%;
	   }

	   .close {
	   	   position: absolute;
           color: #FFF;
           font-size: 2em;
           top: 20px;
           right: 30px;
           cursor: pointer;	   
       }

       .caption {
       		color: #FFF;
       		font-size: 1.5em;
       		font-family: sans-serif;
       }
   
    

  