* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

a {
  text-decoration: none;
}

 body {
	font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper video {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.site-header {
  position: absolute;
  color: #FFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.2);
  padding: 2%;
}

.intro a {
	color: #FFF;
	font-size: 3em;
	position: absolute;
	left: 50%;
  top: 85%;
	transform: translate(-50%, -50%);
	-webkit-animation: movedown 1s ease-in-out infinite;
	animation: movedown 1s ease-in-out infinite;
}

@-webkit-keyframes movedown {
    0% {
    	transform: translate(0, -25px);
    } 
    100% {
    	transform: translate(0, 25px);
    }
}

@keyframes movedown {
    0% {
    	transform: translate(0, -25px);
    } 
    100% {
    	transform: translate(0, 25px);
    }
}
    
    .container {
      padding: 1% 2%;
    }

     .galerie-hangout {
     	width: auto;
     	margin-right: auto;
     	margin-left: auto;
     }

     .galerie-hangout::before,
     .galerie-hangout::after {
        content: "";
        display: table;
     }

     .galerie-hangout::after {
        clear: both;
     }

	   .hangout {
        width: 100%;
	   		border-radius: 5px;
	   		border: 1px solid #f0f0f0;
	   		vertical-align: top;
	   		min-height: 250px;
        float: left;
        margin-bottom: 10px;
	   }

	 
	   
	   .hangout img {
	   		width: 100%;
	   		height: 120px;
	   		transition: 0.8s;
	   		border-radius: 5px 5px 0px 0px;
	   }

	   .hangout img:hover {
	   		opacity: 0.5;
	   }

	   
	   .hangout-name,
	   .hangout-theme {
	   		 display: block;
	   		 padding: 5px;

	   }

	   .hangout-name {
	   		color: #b2b2b2;
	   		font-size: 1em;
	   }

	   .hangout-theme {
	   		font-size: 1.3em;
	   		color: #4040a1;
	   }

	   .modal {
	   		position: fixed;
	   		top: 0;
	   		left: 0;
	   		background: rgba(0, 0, 0, 1);
	   		width: 100%;
	   		height: 100%;
	   		text-align: center;
	   		display: none;
	   }

	   .modal .modal-video {
	   	    margin-top: 50px;
	   		width: 90%;
	   		height: 80%;
	   }

	   .close {
	   	   position: absolute;
           color: #FFF;
           font-size: 2em;
           top: 20px;
           right: 30px;
           cursor: pointer;	   
       }

       .caption {
       		color: #FFF;
       		font-size: 1.5em;
       		font-family: sans-serif;
       }

       .site-footer {
       		background: #333657;
          padding: 20px;
       }

        .site-footer p {
       	   color: #FFF;
       	   padding: 10px;
       }

        .site-footer p a {
        	text-decoration: none;
        }
        
       .site-footer p:first-child {
       		font-size: 1.5em;
       		text-align: center;
          margin: 0;
       }

       .inspiration {
          text-align: center;
          margin: 0;
       }

        .inspiration__link {
          color: #FFFFFF;
          text-shadow: 0 3px 4px #000;
        }

        .inspiration__link:hover {
          text-shadow: none;
        }


/* MOBILE */
@media (min-width: 350px) {
  .hangout {
    width: 49%;
  }
  .hangout:nth-child(2n + 1) {
    margin-right: 2%;
  }
}

@media (min-width: 600px) {
  .hangout {
    width: 32%;
  }

  .hangout:nth-child(2n + 1) {
     margin-right: 0;
  }

  .hangout:not(:nth-child(3n + 0)) {
    margin-right: 2%;
  }
}

@media (min-width: 1000px) {
  .hangout {
    width: 23.5%;
  }


  .hangout:not(:nth-child(3n + 0)) {
    margin-right: 0%;
  }

    .hangout:not(:nth-child(4n + 0)) {
     margin-right: 2%;
  }
}